.notice {
  background: #fff;
  overflow: hidden;
}

.notice img {
  width: 462px;
  height: 260px;
  object-fit: cover;
  margin-left: 50%;
  transform: translate(-50%,0);
}

.notice .title {
  font-weight: 600;
  color: #5D493B;
  font-size: 22px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 11px;
}

.notice .title-info {
  color: #AFA59E;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.notice .title-info span:nth-child(1) {
  margin-right: 30px;
}

.notice .divider {
  width: 100%;
  background: #E6E3E2;
  height: 1px;
  margin: 22px 0;
}

.content {
  width: 768px;
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.5;
  margin: 0 auto;
  font-size: 14px;
}
